.header {
  display: flex;
}
.form {
  color: blue;
  display: flex;
  flex-direction: row-reverse;
}

p {
  color: black;
  font-size:40px;
}
.box {
  height: 200px;
  width: 600px;
  background: blue;
}
.float__img {
Width: 50px;
float: right;
}