.navigation {
  color: blue;
  display: flex;
  justify-content: flex-end;
}
p {
  color: rgb(0, 0, 0);
  font-size:40px;
}
.box {
  height: 200px;
  width: 600px;
  background: blue;
}
.float__img {
Width: 50px;
float: right;
}