.header {
  display: flex;
  justify-content: space-between;
}
.form {
  color: blue;
  display: flex;
p {
  color: black;
  font-size:40px;
}
.main {
position: relative;
}
.box-wrapper {
  position: absolute;
  bottom: 0;
} 
.box {
  height: 100px;
  width: 900px;
  background: blue
}
.image {
  display: block;
  margin-left: auto;
}