.header h1 {
color: blue;
font-size: 40px
}
.header-logo p {
  color: blue;
 float: right;
 margin: 10px 10px 10px 10px;
}
.main h1 {
  font-size: 80px;
  color: black;
  padding-top: 500px;
}
.box {
  width: 1200px;
  height:150px;
  background: blue;
}
.backgoround-image {
  padding: 100px 10px 50px 400px;
}  